<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <!-- IMAGE SERVER CONFIGURATION -->
        <element type="button">
            <name></name>
            <label lang="de">IMAGE SERVER CONFIGURATION</label>
            <label lang="en">IMAGE SERVER CONFIGURATION</label>
        </element>
        <element type="text">
            <name>image_server_token</name>
            <label lang="de">API Access Token</label>
            <label lang="en">API Access Token</label>
            <description>Please input the API Access Token from Image Server</description>
        </element>
        <element type="text">
            <name>image_server_uuid</name>
            <label lang="de">Project UUID</label>
            <label lang="en">Project UUID</label>
            <description>Please input the Image Server project UUID where images are uploaded to.</description>
        </element>
    </elements>
</config>
